@tailwind base;
@tailwind components;
@tailwind utilities;

.p-password-input {
    width: 100%;
}

.p-password {
    width: 100%;
}

.tawk-min-container {
    display: none !important;
}

.p-datatable-wrapper {
    overflow: auto;
}
